# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# PyCharm project settings
.idea/

# Kivy and Buildozer build files
.buildozer/
*.apk

# Firebase config (if any)
firebase_config.json
